.container__projeto {
    background: linear-gradient(112.47deg, #18648E 35.74%, #C80BCA 130%);
    mix-blend-mode: multiply;
    height: 560px;
    width: 100vw;
}

.texto__projeto {
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    top: 370px;
    text-align: left;
    width: 311px;
    margin-left: 24px;
}

.texto__projeto h3{
    font-size: 24px;
}

.texto__projeto p{
    font-size: 20px;
}
