.img-small{
    max-width: 100px;
    max-height: 100px;
}

.img-small-icon{
    background: linear-gradient(45deg, #BF1260, #19597C);
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    color: #ffffff;
}
